%h1.current_folder
  - session[:current_directory]
  - dirs = File.split(session[:current_directory]) -['.']
  - dirs.each_with_index do |d,i| 
    %span.path_element
      = link_to "#{d}", "/folders/#{dirs[0..i].join('/')}"
      = "/"
  

- if !@folders.blank?
  %table
    %tr
      %tr
    - @folders.each do |folder|
      - path = File.join(session[:current_directory], folder)
      - next if !File.directory?(full_path(path))
      %%tr
        %td 
          - if File.directory?(full_path(path))
            = link_to folder, "/folders/#{escape(path)}"
          -# elsif  File.file?(library_path(path)) #and !%w(mp3 flac ogg aac).include?(File.extname(library_path(path)))
            =# link_to 'view', "/download/#{escape(path)}"
            =#link_to folder, "/play/#{escape(path)}"
          -# else
            =# (library_path(path))

= link_to 'scan folder', "/identify/#{escape(session[:current_directory])}"

/ %ul.graphic
/   - @folders.each do |folder|
/     %li
/       - if File.directory?(File.join(current_library, session[:current_directory], folder))
/         = link_to folder, "/folders/#{session[:current_directory]}/#{escape(folder)}"
/       - elsif  File.file?(File.join(current_library, session[:current_directory], folder))
/         = link_to folder, "/play/#{File.join(session[:current_directory],escape(folder))}"

-# haml :songs_table, :layout=>false if @songs
= haml :songs_list, :layout=>false if @songs
  
