<!-- <h1>Music</h1>
<table border="0" cellspacing="5" cellpadding="5">
  <tr><th>Folder</th></tr>
  <% @directories.each do |dir| %>
    <tr><td><a href="/folders/<%= dir %>"><%= dir %></a></td></tr>
  <% end %>
</table> -->

<hr>
<h4> songs</h4>
  <table>
    <thead>
      <tr>
        <th>name</th>
        <th>size</th>
        <th>info</th>
      </tr>
      <% @songs.each do |song| %>
        <tr>
          <td><%= link_to 'que', "/que/#{id}"  %>
          <td><%= link_to song.title, "/play/#{song.id}" rescue '?' %></td>
          <td><%= song.artist %></td>
          <td><%= song.to_s %></td>
        </tr>
      <% end %>
  </table>
<hr>