%table{'songs'}
  %tr
    %thead
      %tr
        %th track
        %th title
        %th album
        %th artist
  - @songs.each do |song|
    %tr
      %td= link_to '+',  "/que/#{song.id}"
      %td= song.track if song.track and song.track!=0
      %td= link_to song.title, "/play/#{escape(session[:current_directory]+"/#{song.filename}")}"
      %td= song.album  rescue '??'
      %td= song.artist
      
%hr