
%ul{:class=>'playlist songs_list'}
  - @songs.each_with_index do |song, i|
    %li
      %span.control_icons
        %span{:rel=>"/playlist/enque/#{song.id}"} +
      %span{:class=>"playable song", :id=>"song_#{i}"}
        = link_to_song song        
      %span.info
        %span.artist= song.artist
        %span.album= song.album
      %span.position
      %span.duration